body{
    background-color: pink;
}

ul.alphabetList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
}

ul.alphabetList li{
    list-style-type: none;
    background-color: white;
    padding: 1rem;
}

ul.alphabetList li:hover{
    cursor: pointer;
    color: white;
    background-color: black;
}

ul.chosenWordList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 1rem;
}

ul.chosenWordList li{
    list-style-type: none;
    background-color: rgb(58, 73, 112);
    color: rgb(58, 73, 112);
    padding: 1rem;
    user-select: none;
}

 .man{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
} 

ul.chosenWordList li:hover{
    cursor:default;
}

svg{
    overflow: visible
}

.hide{
    display:none;
}

.chosenFalse{
    background-color: red !important;
    text-decoration: line-through;
}

.chosenFalse:hover{
    background-color: red !important;
    color: black !important;
    cursor:default !important;
    
}

.chosenRight{
    background-color: rgb(134, 207, 146) !important;
   
}

.chosenRight:hover{
    background-color: rgb(134, 207, 146) !important;
    color: black !important;
    cursor:default !important;
}

.correctLetters{
    background-color: rgb(99, 165, 99) !important;
    color: white !important;
}